.thirdPage
    &_aboutIt
        display: grid
        grid-template-columns: 50% 50%
        align-items: center
        justify-items: end
        &_div
            display: flex
            flex-direction: column
            // align-items: center
            &_descr
                width: 80%
            &_country
            &_price
                font-size: 18px
