.Cards
    display: grid
    grid-template-columns: auto auto auto
    grid-template-rows: auto auto
    justify-content: center
    justify-items: center
    padding-top: 60px
    row-gap: 60px
    @media screen and ( max-width: 767px  )
        grid-template-columns: auto
        row-gap: 60px
