.Market
	&_SearchAndFilter
		display: grid
		grid-template-columns: auto auto
		@media screen and ( max-width: 767px  )
			grid-template-columns: auto
			grid-template-rows: auto auto
			row-gap: 10px
			padding: 9px
			justify-items: center
