.AboutUs
	display: grid
	grid-template-columns: 50% 50%
	justify-items: end
	padding-bottom: 64px
	padding-top: 70px
	@media screen and ( max-width:767px  )
		grid-template-columns: auto
		justify-items: center
		padding-bottom: 44px
	&::after
		content: ""
		width: 247px
		height: 2px
		background: black
		position: relative
		margin-left: auto
		margin-right: auto
		left: 50%
		text-align: center
		margin-top: 22px
		@media screen and ( max-width:  767px)
			left: 0
			top: 20px

	&_text
		font-weight: 400
		font-size: 14px
		width: 36%
		text-align: center
		@media screen and ( max-width:767px  )
			margin-top: 15px
			font-size: 16px
			width: 80%
	&_div
		margin-top: 11px
		display: flex
		flex-direction: column
		align-items: flex-start
		@media screen and ( max-width:767px  )
			align-items: center
	&_img
		filter: drop-shadow(5px 5px 30px rgba(0, 0, 0, 0.25))
