.Menu
    padding-left: 155px
    padding-top: 30px
    &_link
        &_item
            margin-right: 40px
            font-weight: 400
            color: #ffff
            text-decoration: none
            &_logo
                margin-right: 0
.black
    color: black
.center
    margin-left: 40px
.flex 
    display: flex
    justify-content: center    
